<!-- Principal -->
<div class="bg-image" 
     style="background-image: url('../../assets/background.svg');
height: 678px">
    <div class="container" style="background-color:#FFFBFF">
        <div class="row row-gap-3">
            <div class="col-2 full-img">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a routerLink="/statistics" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page">Estadísticas</a>
                </li>
                <li class="nav-item">
                <a routerLink="/planner" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Planeador</a>
                </li>
                <li class="nav-item">
                <a routerLink="/trophies" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Trofeos</a>
                </li>
                <li class="nav-item">
                <a routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Configuración</a>
                </li>
            </ul>
            </div>
            <div class="col-10">
                <h1>Estadísticas</h1>
                <div class="row">
                    <div class="col">
                        <h3>Actividades completadas por categoria</h3>
                    </div>
                    <div class="col">
                        <h3>Actividades completadas por fecha</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div  class="row">
                            <div class="col-9">
                                <img src="../../assets/statistics1.svg" class="img-rounded" alt="Cinque Terre">
                            </div>
                            <div class="col-3">
                                <ul class="list-group">                      
                                    <li class="list-group-item list-group-item-primary">Tareas</li>
                                    <li class="list-group-item list-group-item-info">Rutinas</li>
                                    <li class="list-group-item list-group-item-success">Concentración</li>
                                    <li class="list-group-item list-group-item-danger">Recordatorios</li>
                                    <li class="list-group-item list-group-item-warning">Otros</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="../../assets/statistics3.svg" class="img-rounded" alt="Cinque Terre">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Actividades creadas vs completadas</h3>
                    </div>
                    <div class="col">
                        <h3>Actividades pospuestas por fecha</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="../../assets/statistics2.svg" class="img-rounded" alt="Cinque Terre">
                    </div>
                    <div class="col">
                        <img src="../../assets/statistics3.svg" class="img-rounded" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>  
