<!-- Principal -->
<div class="bg-image" 
     style="background-image: url('../../assets/background.svg');
height: 678px">
    <div class="container" style="background-color:#FFFBFF">
        <div class="row row-gap-3">
            <div class="col-2 full-img">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a routerLink="/statistics" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Estadísticas</a>
                </li>
                <li class="nav-item">
                <a routerLink="/planner" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Planeador</a>
                </li>
                <li class="nav-item">
                <a routerLink="/trophies" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active"  aria-current="page">Trofeos</a>
                </li>
                <li class="nav-item">
                <a routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Configuración</a>
                </li>
            </ul>
            </div>
            <div class="col-10">
                <h1>Trofeos</h1>
                <div class="row">
                    <div class="col-3">
                    <div  class="row m-3">
                        <img src="../../assets/trofeo1.svg" class="img-rounded" alt="Cinque Terre">
                    </div>
                    <div class="row m-3">
                        <h4>Completaste 100 tareas seguidas sin posponer ninguna!</h4>
                    </div>
                    <div  class="row m-3">
                        <img src="../../assets/trofeo1.svg" class="img-rounded" alt="Cinque Terre">
                    </div>
                    <div class="row m-3">
                        <h4>Completaste 100 tareas seguidas sin posponer ninguna!</h4>
                    </div>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>1 tarea completada</h5>
                            </div>
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>5 tareas completadas</h5>
                            </div>
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>15 tareas completadas</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>1 tarea sin posponer</h5>
                            </div>
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>5 tareas sin posponer</h5>
                            </div>
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>10 tareas sin posponer</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>Manteniendo la rutina nivel 1</h5>
                            </div>
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>Manteniendo la rutina nivel 2</h5>
                            </div>
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>Manteniendo la rutina nivel 3</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>1 tarea completada</h5>
                            </div>
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>5 tareas completadas</h5>
                            </div>
                            <div class="col-4" align="center">
                                <img src="../../assets/trofeo2.svg" class="img-rounded" alt="Cinque Terre">
                                <h5>15 tareas completadas</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>  
